<%- include('../port/layout_start')%>
<title><%= title %></title>
  </head>
  <body>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"></h1>
    <%=title %>
  </div>
</div>

</body>
</html>
